@{
    ViewBag.Title = "Detail";
}

<div id="Box4Content">
    <div class="box4_cl_top">
        <div class="box4_img_prod"><img src="~/Content/Images/prod_large_img_1.png"> </div>
        <div class="title_prod_top"><font class="Static_Bold_45 RedBlk">Barriu</font></div>
        <div class="subtitle_prod_top"><font class="Myriad_Pro_22 RedBlk">Surrau / Isola dei Nuraghi IGT</font></div>
        <div class="text_prod_top">
            <font class="Myriad_Pro_18 RedBlk">
                Il Barriu rosso igt è ottenuto dalle uve Carignano, Cannonau, Bovale e Cabernet prodotte in<br />
                Gallura nelle vigne dell’azienda Surrau.<br />
                Si è affinato per dodici mesi in fusti di rovere francese e dopo l’imbottigliamento sosta in vetro per alcuni mesi, per rivelare ai nostri sensi tutta la sua personalità.<br />
                <br />
                Il vino coniuga perfettamente espressività aromatica, struttura e innata eleganza frutto della<br />
                vocazione viticola del territorio gallurese anche nella produzione di vini rossi di grande pregio.
            </font>
        </div>
        <div class="price1_top">
            <div class="img_price1_top"><img src="~/Content/Images/bt_qt_1.png"></div>
            <div class="sel_price1_top"><input type="radio" name="rb_price" id="rb_price" value="1" class="styled" checked></div>
            <div class="txt_price1_top"><font class="Static_Bold_20 RedBlk">R$ 18.3</font></div>
        </div>
        <div class="txt_car_top"><font class="Static_Bold_22 RedBlk">COMPRAR</font></div>
        <div class="car_top"><img src="~/Content/Images/carrello.png"></div>
    </div>
    <div class="box4_cl">
        <div class="box4_title_cl"><font class="Static_Bold_30 RedBlk">Informazioni sul vino Barriu</font></div>
        <div class="box4_subtitle_cl"><img src="~/Content/Images/freccia_red.png" width="14"><a href="javascript:Open('caratteristiche')"><font class="Static_Bold_20 RedBlk">Caratteristiche</font></a><a href="javascript:Open('cantina')"><font class="Static_Bold_20 RedBlk">Produttore/Cantina</font></a><a href="javascript:Open('cosa')"><font class="Static_Bold_20 RedBlk">Cosa ne pensiamo noi</font></a></div>
        <div class="box4_txt_carat RedBlk caratteristiche datiprod">
            <font class="Myriad_Pro_Bold_16">Tipologia:</font><br><font class="Myriad_Pro_16">Vino rosso</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Classificazione:</font><br><font class="Myriad_Pro_16">Isola dei Nuraghi IGT</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Anno:</font><br><font class="Myriad_Pro_16">2014</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Vitigno:</font><br><font class="Myriad_Pro_16">Cannonau - Carignano</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Provenienza:</font><br><font class="Myriad_Pro_16">Sardegna - Barbagia</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Grado alcoolico:</font><br><font class="Myriad_Pro_16">14%</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Suolo:</font><br><font class="Myriad_Pro_16">Disfacimento granitico</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Colore:</font><br><font class="Myriad_Pro_16">Rosso rubino molto intenso, quasi granato</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Aroma:</font><br><font class="Myriad_Pro_16">Sentori di frutti rossi maturi e di confeture. Note vegetali di macchia mediterranea. Elegante morbido e molto persistente. Lungo il finale.</font><br><br>
            <font class="Myriad_Pro_Bold_16 RedBlk">Abbinamenti:</font><br><font class="Myriad_Pro_16">Vino da arrosti importanti, carni alla griglia, formaggi a pasta semidura.</font>
        </div>
        <div class="box4_cartina caratteristiche datiprod"></div>
        <div class="box4_txt_cantina RedBlk cantina datiprod">
            <font class="Myriad_Pro_Bold_20">Surrau</font><br><br><font class="Myriad_Pro_16">
                Una passione per la viticoltura antica e radicata.<br />
                Un legame vivo con la propria terra che diventa oggi ancora più forte con la fondazione di una cantina che prende il nome dalla rigogliosa vallata di Arzachena: Surrau.<br />
                Nasce così, dall’entusiasmo di una famiglia, la cantina di Vigne Surrau, un’impresa giovane figlia di un territorio dalla grande tradizione enologica, immersa nel mezzo del vigneto che fa da sfondo alla strada che da Arzachena conduce alla Costa Smeralda.<br />
                <br />
                La vocazione turistica del territorio si sposa oggi con l’antica vocazione di una terra che da sempre nutre la vite per generare un corposo vino. In questa terra nascono oggi grandi vini sardi rossi e bianchi dalla coltivazione di vitigni autoctoni e internazionali di grande carattere.<br />
                <br />
                Vigne Surrau è un’azienda giovane con un’anima antica. I due valori fondamentali che guidano la filosofia aziendale sono, infatti, tradizione e innovazione: tradizione nella scelta dei vitigni da coltivare (Vermentino di Gallura DOCG, Cannonau di Sardegna DOC, Carignano e Muristellu), ma innovazione nella vinificazione che viene effettuata con attrezzature all’avanguardia e con sperimentazioni enologiche quali per esempio l’appassimento delle uve Vermentino e Cannonau o la vinificazione delle stesse con metodo classico champenois.<br />
                <br />
                Sul solco della tradizione si pone anche la scelta dei materiali da utilizzare per la costruzione della nuova cantina: legno, pietra e vetro che si fondono in un’architettura all’avanguardia in cui sono presenti elementi di design contemporaneo che contribuiscono alla “messa in scena” della vinificazione.
            </font>
        </div>
        <div class="box4_img_cantina cantina datiprod "><img src="images/cantine/cantina_img_1.jpg"></div>
        <div class="box4_txt_cosa RedBlk cosa datiprod">
            <font class="Myriad_Pro_Bold_20">Cosa ne pensiamo noi / Barriu:</font><br><br><font class="Myriad_Pro_16">
                Cosa NE pensiamo -Il Barriu rosso igt è ottenuto dalle uve Carignano, Cannonau, Bovale e Cabernet prodotte in<br />
                Gallura nelle vigne dell’azienda Surrau.<br />
                Si è affinato per dodici mesi in fusti di rovere francese e dopo l’imbottigliamento sosta in vetro per alcuni mesi, per rivelare ai nostri sensi tutta la sua personalità.<br />
                <br />
                Il vino coniuga perfettamente espressività aromatica, struttura e innata eleganza frutto della<br />
                vocazione viticola del territorio gallurese anche nella produzione di vini rossi di grande pregio.
            </font>
        </div>
        <div class="box4_img_cosa cosa datiprod"><img src="images/cantine/cantina_img_1.jpg"></div>
    </div>

