<div class="product-page">
    <div id="app">
        <main id="content" class="group" role="main">
            <div class="container">
                <div class="container" itemscope itemtype="http://schema.org/Product">
                    <div class="product-view">
                        <div class="product-container">
                            <div class="row" style="margin-bottom:40px">
                                <article class="visible-xs">
                                    <div class="hidden-xs hidden-sm">
                                        <div class="spacer"></div>
                                    </div>
                                    <h1 class="page-header align-left">
                                        <div itemprop="name" id="hide-title">
                                        </div>
                                        <meta itemprop="sku" content="VIN3297" />
                                        <small id="hide-region">
                                        </small>
                                    </h1>
                                </article>
                                <div class="product-price visible-xs">
                                    <div class="price">
                                        <div class="from">
                                            <span class="from-span">De:</span>
                                            <span class="from-price"></span>
                                        </div>
                                        <div class="for">
                                            <span class="for-span">Por:</span>
                                            <span class="for-price"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="product-images">
                                        <img id="product-image" src=""/>
                                        @*<div id="product-gallery">
                                            <a href="#" class="active" data-image="https://res.cloudinary.com/hsei4tdqf/image/upload/c_fill,h_400,w_260/v1443187948/hbgzf4ndcwl1bx23ukm4.jpg" data-zoom-image="https://res.cloudinary.com/hsei4tdqf/image/upload/c_fill,h_700,w_560/v1443187948/hbgzf4ndcwl1bx23ukm4.jpg">
                                                <img id="" src="https://res.cloudinary.com/hsei4tdqf/image/upload/c_fill,h_55,w_55/v1443187948/hbgzf4ndcwl1bx23ukm4.jpg" />
                                            </a>
                                            <a href="#" class="" data-image="https://res.cloudinary.com/hsei4tdqf/image/upload/c_fill,h_400,w_260/v1443187990/ntvadrkriffgvhmjfba6.jpg" data-zoom-image="https://res.cloudinary.com/hsei4tdqf/image/upload/c_fill,h_700,w_560/v1443187990/ntvadrkriffgvhmjfba6.jpg">
                                                <img id="" src="https://res.cloudinary.com/hsei4tdqf/image/upload/c_fill,h_55,w_55/v1443187990/ntvadrkriffgvhmjfba6.jpg" />
                                            </a>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="hidden-xs">
                                        <div class="hidden-xs hidden-sm">
                                            <div class="spacer"></div>
                                        </div>
                                        <h1 class="page-header align-left">
                                            <div itemprop="name" id="title">                                                
                                            </div>
                                            <meta itemprop="sku" content="VIN3297" />
                                            <small id="region">                                                
                                            </small>
                                        </h1>
                                    </article>
                                    <div id="small-description">
                                        <span class="Static_15"></span>
                                        <div class="medals">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 hidden-xs-alter">
                                    <div class="product-price col-sm-6 col-md-12">
                                        <div class="price">
                                            <link content="Em Estoque" />
                                            <div class="row">
                                                <div class="from">
                                                    <div class="col-md-4 col-sm-4">
                                                        <span class="from-span">De:</span>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <span class="from-price"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="for">
                                                    <meta itemprop="priceCurrency" content="BRL" />
                                                    <div class="col-md-4 col-sm-4">
                                                        <span class="for-span">Por:</span>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <span itemprop="price" class="for-price"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-selector col-sm-6 col-md-12 hidden-xs-alter">
                                        <span class="quantity-span">QUANTIDADE:</span>
                                        <input type="number" id="input-quant" style="width: 40px; margin-right: 3px; height: 38px; font-size: 17px;" min="0" max="50" value=""></input>
                                        <button class="btn-comprar-detalhes btn">
                                            <font class="Static_Bold_18 RedBlk">Comprar</font>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 ">
                            <div class="product-description">
                                <h2>Detalhes</h2>
                                <div class="Static_17">
                                    <div itemprop="description" id="description">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="~/Scripts/New/product.Details.js"></script>